<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
    <div class="ui container centered grid">
        <header id="top">
            <div class="column row">
                <div class="column">
                    <h1>Weather</h1>
                    <p>Search for weather information at any city worldwide!</p>
                </div>
            </div>

            <div class="column row searchBox">
                <form action="/" method="POST">
                    <div class="ui icon input">
                        <input type="text" name="city" placeholder="Search City...">
                        <i class="search icon"></i>
                    </div>
                </form>
            </div>
        </header>
        
        <% if(weatherDisplay) { %>
        <div id="result" class="column row">
            <div class="column">
                <h2 class="cityName">Weather For <span><%=weather.city%></span>!</h2>

                <div class="ui segment">
                    <div>
                        <h3 class="weatherDescription"><%=weather.weatherDesc%>
                            <img class="ui right spaced image weatherImage" src="<%=weather.imageURL%>">
                        </h3>

                        <table class="ui definition table">
                            <tbody>
                                <tr>
                                    <td class="collapsing">Temperature</td>
                                    <td><%=weather.temperature%>°C</td>
                                </tr>
                                <tr>
                                    <td class="collapsing">Feels Like</td>
                                    <td><%=weather.feelsLike%>°C</td>
                                </tr>
                                <tr>
                                    <td class="collapsing">Humidity</td>
                                    <td><%=weather.humidity%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <% } %>

        <div id="footer" class="column row">
            <p>Made by: Craig Savage |
                <a href="https://github.com/craigsavage/Weather"><i class="github icon"></i> Source Code</a></p>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <!-- Semantic UI JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>

</body>

</html>